In [136]:
import pandas as pd
import numpy as np

In [137]:
M = pd.read_csv("MovieReviews.csv", index_col='Name')

In [138]:
M.head()

,American Sniper,The Hunger Games: Mockingjay - Part 1,Guardians of the Galaxy,The Lego Movie,The Hobbit,Transformers,Malificent,Big Hero 6,Godzilla,Interstellar,How to Train your Dragon 2,Gone Girl,Divergent,The Fault in Our Stars,Unbroken,300: Rise of an Empire
Name,,,,,,,,,,,,,,,,
Aarti Jaiswal,4.0,NaN,NaN,NaN,4.0,3.0,NaN,5.0,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN
Aditya Dharmasagar,5.0,NaN,NaN,4.0,5.0,4.0,4.0,NaN,4.0,5.0,5.0,5.0,4.0,4.0,NaN,5.0
Adrian Cavallaris,NaN,4.0,3.0,NaN,4.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN
Ahmed Muheebuddin,5.0,NaN,4.0,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Aishwarya reddy,NaN,3.0,4.0,3.0,4.0,4.0,3.0,NaN,4.0,4.0,3.0,5.0,NaN,4.0,NaN,3.0

In [139]:
def pearson(s1, s2):
    """Take two pd.Series objects and return a pearson correlation."""
    s1_c = s1 - s1.mean()
    s2_c = s2 - s2.mean()
    return np.sum(s1_c * s2_c) / np.sqrt(np.sum(s1_c ** 2) * np.sum(s2_c ** 2))

In [134]:
def get_recs(movie_name, M, num):

    import numpy as np
    reviews = []
    for title in M.columns:
        if title == movie_name:
            continue
        cor = pearson(M[movie_name], M[title])
        if np.isnan(cor):
            continue
        else:
            reviews.append((title, cor))
    
    reviews.sort(key=lambda tup: tup[1], reverse=True)
    return reviews[:num]

# Q1

In [10]:
recs = get_recs('The Fault in Our Stars', M, 1)

In [11]:
recs

[('Divergent', 0.24669725138059095)]

# Q2

In [18]:
#the movies I've seen
my_ratings = M.ix['Matthew Dearing'].dropna() # This creates a Series data structure with the first "column" being the index
#the movie I've rated the highest
my_ratings.sort(ascending=False)
#the name of the movie I've rated the highest
fav_movie = my_ratings.index[0]

C:\Users\mtdea_000\Anaconda2\lib\site-packages\ipykernel\__main__.py:4: FutureWarning: sort is deprecated, use sort_values(inplace=True) for INPLACE sorting

In [19]:
fav_movie

'300: Rise of an Empire'

In [20]:
my_ratings

300: Rise of an Empire                   5.0
Big Hero 6                               5.0
Malificent                               5.0
The Lego Movie                           5.0
How to Train your Dragon 2               4.0
Interstellar                             4.0
The Hobbit                               4.0
The Hunger Games: Mockingjay - Part 1    4.0
American Sniper                          4.0
Name: Matthew Dearing, dtype: float64

In [ ]:
# So, for each movie I've seen, I will find the movie out of the set of movies I have not seen with the highest
# Pearson correlation:

In [116]:
havent_seen = M.ix['Matthew Dearing'].isnull()
# Note: haven_seen[#] will give True/False value for corresponding movie havent_seen.index[#]

In [140]:
# Test comparison:
pearson(M[my_ratings.index[0]], M[havent_seen.index[0]])

0.16615765988265599

In [151]:
# loop through all of the movies from my ratings, compare each to every movie in havent_seen
# store each Pearson rating into an array for that loop, then identify the MAX value to identify the best movie
for i in range(0,my_ratings.count()):
    pearsonValue = 0.0
    pearsonMax = 0.0
    toWatch = ""
    for j in range(0,havent_seen.count()):
        if havent_seen[j] == True: # if this movie had a "null" rating in my list
            pearsonValue = pearson(M[my_ratings.index[i]], M[havent_seen.index[j]]) # run the comparison
            if (pearsonValue > pearsonMax):
                pearsonMax = pearsonValue # set this comparion to the new max value to beat
                toWatch = havent_seen.index[j] # set this movie as the best one so far
    print "(" + str(i) + ") Based on " + my_ratings.index[i] + ", you should see " + toWatch

(0) Based on 300: Rise of an Empire, you should see Divergent
(1) Based on Big Hero 6, you should see Transformers
(2) Based on Malificent, you should see Godzilla
(3) Based on The Lego Movie, you should see Guardians of the Galaxy
(4) Based on How to Train your Dragon 2, you should see Gone Girl
(5) Based on Interstellar, you should see Godzilla
(6) Based on The Hobbit, you should see Transformers
(7) Based on The Hunger Games: Mockingjay - Part 1, you should see Transformers
(8) Based on American Sniper, you should see Gone Girl

# Q3

In [150]:
# Movies I haven't seen:
for i in range(0,havent_seen.count()):
    if havent_seen[i] == True:
        print havent_seen.index[i]

Guardians of the Galaxy
Transformers
Godzilla
Gone Girl
Divergent
The Fault in Our Stars
Unbroken

In [156]:
# Let's assume I would rate each of these movies with the movie I saw with the closest recommendation:
listCount = 1
for i in range(0,havent_seen.count()):
    if havent_seen[i] == True: # if this movie had a "null" rating in my list
        pearsonValue = 0.0
        pearsonMax = 0.0
        sameRatingMovie = ""
        sameRatingValue = 0.0
        for j in range(0,my_ratings.count()):
            pearsonValue = pearson(M[my_ratings.index[j]], M[havent_seen.index[i]]) # run the comparison
            if (pearsonValue > pearsonMax):
                pearsonMax = pearsonValue # set this comparion to the new max value to beat
                sameRatingMovie = my_ratings.index[j] # set this movie as the best one so far
                sameRatingValue = my_ratings[j] # set this movie's rating value
        print "(" + str(listCount) + ") I would rate " + havent_seen.index[i] + " as a " + str(sameRatingValue) + " based on " + str(sameRatingMovie)
        listCount = listCount + 1

(1) I would rate Guardians of the Galaxy as a 5.0 based on The Lego Movie
(2) I would rate Transformers as a 4.0 based on The Hobbit
(3) I would rate Godzilla as a 4.0 based on Interstellar
(4) I would rate Gone Girl as a 4.0 based on How to Train your Dragon 2
(5) I would rate Divergent as a 5.0 based on 300: Rise of an Empire
(6) I would rate The Fault in Our Stars as a 5.0 based on Malificent
(7) I would rate Unbroken as a 5.0 based on Malificent